# Folder view configuration files
.DS_Store
Desktop.ini
.directory

# self
.git

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
lost+found

# needs to be ignore @ deploy
# bup.sh
# deploy.sh
# README.md
# LICENSE-MIT.txt

# permission denied
.cache
.config/ibus
.gnupg
.gvfs

