# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
.directory

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
lost+found

# are you sure?
.git
.DS_Store
bootstrap.sh
README.md
LICENSE-MIT.txt

# permission denied
.cache
.config/ibus/bus
.gnupg
.gvfs

